@font-face {
    font-family: "popins";
    src: url("./Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "popins-bold";
    src: url("./Poppins/Poppins-ExtraBold.ttf");
}

body {
    margin: 0;
    padding: 0;
    color: white;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/background\ image.jpg');
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}


/* start nav-bar */
.header {
    font-family: "popins";
}

.navbar {
    background-color: #040404 !important;
}

.navbar-brand {
    padding-left: 8vw;
}

.navbar-brand h1 {
    font-size: 36px;
    font-weight: bold;
}

.navbar-nav {
    padding-left: 15.5vw;
}

.navbar-nav a {
    padding-left: 2vw !important;
}

.active #line {
    display: flex;
    border-bottom: 2px solid #18d26e !important;
    width: 2vw;
    height: 0.5vh;
}

#line {
    display: flex;
    width: 0vw;
    height: 0.5vh;
    transition: width 0.5s;
    background-color: #18d26e !important;
}

.nav-link:hover span {
    color: white;
}

.nav-link:hover #line {
    width: 2vw;
    height: 0.5vh;
}

/* end nav-bar */

/* main_title */
.main_title {
    display: inline-block;
}

.main_title h2 {
    font-size: 14px;
    opacity: 0.7;
}

#line_after {
    display: flex;
    width: 11vw;
    height: 0.1vh;
    background-color: #18d26e;
    margin: -1.5vh 5vw;
}

.main_title p {
    margin: 2.5vh 0 2vh 0;
    font-size: 36px;
    font-weight: 700;
}

/* container */
.container {
    background-color: #040404;
    padding: 3vh 3vw;
}

/* content_div */
.content_div {
    display: inline-flex;
}

.content_div img {
    width: 26vw;
}

.content_div .about h1 {
    font-size: 24px;
    color: #18d26e;
}

.content_div .about p {
    line-height: 5vh;
    font-size: 17px;
    margin-top: 4vh;
}

.row ul {
    list-style-type: none;
    margin-left: -2.5vw;
    line-height: 3vw;
}

.row ul img {
    width: 0.8vw;
    vertical-align: middle;
    margin-right: 1vw;
}

/* count box */
.count-box {
    background: rgba(255, 255, 255, 0.08);
    height: 25vh;
}

.count-box h2 {
    padding-top: 5vh;
}

.count-box p {
    padding-bottom: 3vh;
}

.count-box h2,
p {
    display: flex;
    justify-content: center;
}

.count-box i {
    margin-left: 6vw;
    margin-top: -3vh;
    background-color: rgba(255, 255, 255, 0.1);
    height: 10vh;
    width: 5vw;
    border-radius: 50%;
    padding-left: 1.6vw;
    padding-top: 4.5vh;

}

/* progress */
#end {
    float: right;
}

.bar {
    height: 1.5vh;
    background-color: rgba(255, 255, 255, 0.1);
}

.bar span {
    height: 1.5vh;
    display: block;
}

#html_bar {
    background-color: #18d26e;
    animation: html_bar 1s;
}

@keyframes html_bar {
    0% {
        width: 1%;
    }

    100% {
        width: 100%;
    }
}

#php_bar {
    background-color: #18d26e;
    animation: php_bar 1s;
    width: 80%;
}

@keyframes php_bar {
    0% {
        width: 1%;
    }

    100% {
        width: 80%;
    }
}

#css_bar {
    background-color: #18d26e;
    animation: css_bar 1s;
    width: 90%;
}

@keyframes css_bar {
    0% {
        width: 1%;
    }

    100% {
        width: 90%;
    }
}

#wordpress_bar {
    background-color: #18d26e;
    animation: wordpress_bar 1s;
    width: 90%;
}

@keyframes wordpress_bar {
    0% {
        width: 1%;
    }

    100% {
        width: 90%;
    }
}

#javascript_bar {
    background-color: #18d26e;
    animation: javascript_bar 1s;
    width: 75%;
}

@keyframes javascript_bar {
    0% {
        width: 1%;
    }

    100% {
        width: 75%;
    }
}

#photoshop_bar {
    background-color: #18d26e;
    animation: photoshop_bar 1s;
    width: 55%;
}

@keyframes photoshop_bar {
    0% {
        width: 1%;
    }

    100% {
        width: 55%;
    }
}


.interests .row div {
    background-color: rgba(255, 255, 255, 0.1);
    height: 8vw;
    display: flex;
    align-items: center;
    font-weight: bolder;
    margin-top: 5vh;
    margin-right: 4vw;
}

.interests .row {
    width: 100vw;
}

.interests #line_after {
    margin-left: 7.5vw;
}

.testimonial #line_after {
    margin-left: 10vw;
}

.footer span {
    color: #18d26e;
}

.footer p {
    display: block;
    text-align: right;
}

@media (max-width: 990px) {
    .content_div {
        display: block;
    }

    .img {
        width: 100vw;
    }

    .img img {
        width: 69vw;
    }

    .interests .row div {
        margin-top: 5vh;
        margin-right: 2vw;
        height: 15vh;
    }

    .interests .row {
        width: 90vw;
    }

    .about li {
        margin-top: 5vh;
        display: flex;
    }

    .about li img {
        width: 4vw;
        padding-right: 2vw;
    }

    .count-box i {
        width: 9vw;
        margin-left: 16vw;
        padding-left: 3vw;
    }
    .count-box {
        margin-top: 5vh;
    }
    .content_div .about p {
        line-height: 5vh;
        margin-top: 5vh;
    }

    .content_div .about h1 {
        font-size: 35px;
    }

    .nav-link:hover #line {
        width: 4.5vw;
    }



}

@media (min-width: 590px) and (max-width:768px) {
    .interests .row {
        width: 66vw;
    }
    .count-box i {
        margin-left: 30vw;
    }
     
}

@media (min-width: 300px) and (max-width: 590px) {
    .count-box i {
        width: 15vw;
        padding-left: 5vw;
        margin-left: 40vw;
    }
    
    .testimonial img {
        width: 86vw;
    }
}

@media (min-width: 150px) and (max-width: 299px) {
    .count-box i {
        width: 25vw;
        padding-left: 8vw;
        margin-left: 35vw;
    }
    
    .testimonial img {
        width: 86vw;
    }

    .img img {
        width: 116vw;
    }
}