@font-face {
    font-family: "popins";
    src: url("./Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "popins-bold";
    src: url("./Poppins/Poppins-ExtraBold.ttf");
}

body {
    margin: 0;
    padding: 0;
    color: white;
    width: 100vw;
    height: 100vh;
    background-image: url('./assets/background\ image.jpg');
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
/* start nav-bar */
.header {
    font-family: "popins";
}
.navbar {
    background-color: #040404 !important;
}

.navbar-brand {
    padding-left: 8vw;
}

.navbar-brand h1{
    font-size: 36px;
    font-weight: bold;
}

.navbar-nav {
    padding-left: 15.5vw;
}

.navbar-nav a {
    padding-left: 2vw !important;
}

.active #line {
    display: flex;
    border-bottom: 2px solid #18d26e !important;
    width: 2vw;
    height: 0.5vh;
}

#line {
    display: flex;
    width: 0vw;
    height: 0.5vh;
    transition: width 0.5s;
    background-color: #18d26e !important;
}

.nav-link:hover span{
    color: white;
}

.nav-link:hover #line {
    width: 2vw;
    height: 0.5vh;
}
/* end nav-bar */

/* main_title */
.main_title {
    display: inline-block;
}
.main_title h2 {
    font-size: 14px;
    opacity: 0.7;
}

#line_after {
    display: flex;
    width: 11vw;
    height: 0.1vh;
    background-color: #18d26e;
    margin: -1.5vh 5vw;
}

.main_title p{
    margin: 2.5vh 0 2vh 0;
    font-size: 36px;
    font-weight: 700;
}
/* container */
.container {
    background-color: #040404;
    padding: 3vh 3vw;
}

/* content_div */
.content_div {
    display: inline-flex;
}

.content_div img {
    width: 26vw;
}

.content_div .about h1{
    font-size: 24px;
    color: #18d26e;
}

.content_div .about p {
    line-height: 4vh;
    font-size: 17px;
}

.row ul {
    list-style-type: none;
    margin-left: -2.5vw;
    line-height: 3vw;
}

.row ul img {
    width: 0.8vw;
    vertical-align: middle;
    margin-right: 1vw;
}
/* count box */
.count-box {
    background: rgba(255, 255, 255, 0.08);
    position: relative;
}

.count-box img {
    width: 2vw;
    position: absolute;
    left: 1.3vw;
    top: 0.8vw;
}
.count-box span {
    display: block;
    width: 4.5vw;
    height: 6.5vh;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: -2.9vh;
    left: 6.8vw;
    border-radius: 3vw;
}
.count-box h2 {
    padding-top: 5vh;
}
.count-box p {
    padding-bottom: 3vh;
}

.count-box h2, p {
    display: flex;
    justify-content: center;
}

/* progress */
#end {
    float: right;
}

.bar {
    height: 1.5vh;
    background-color: rgba(255, 255, 255, 0.1);
}

.bar span {
    height: 1.5vh;
    display: block;
}

#html_bar {
    background-color: #18d26e;
    animation: html_bar 1s; 
}

@keyframes html_bar {
    0%{
        width: 1%;
    }

    100%{
        width: 100%;
    }
}

#php_bar {
    background-color: #18d26e;
    animation: php_bar 1s;
    width: 80%;
}

@keyframes php_bar {
    0%{
        width: 1%;
    }

    100%{
        width: 80%;
    }
}

#css_bar {
    background-color: #18d26e;
    animation: css_bar 1s;
    width: 90%;
}

@keyframes css_bar {
    0%{
        width: 1%;
    }

    100%{
        width: 90%;
    }
}

#wordpress_bar {
    background-color: #18d26e;
    animation: wordpress_bar 1s;
    width: 90%;
}

@keyframes wordpress_bar {
    0%{
        width: 1%;
    }

    100%{
        width: 90%;
    }
}

#javascript_bar {
    background-color: #18d26e;
    animation: javascript_bar 1s;
    width: 75%;
}

@keyframes javascript_bar {
    0%{
        width: 1%;
    }

    100%{
        width: 75%;
    }
}

#photoshop_bar {
    background-color: #18d26e;
    animation: photoshop_bar 1s;
    width: 55%;
}

@keyframes photoshop_bar {
    0%{
        width: 1%;
    }

    100%{
        width: 55%;
    }
}


.interests .row div {
    background-color: rgba(255, 255, 255, 0.1);
    width: 16vw;
    height: 8vw;
    display: flex;
    align-items: center;
    font-weight: bolder;
    padding-left: 2vw;
}
.interests .row {
    width: 78.5vw;
}

.interests #line_after {
    margin-left: 7.5vw;
}
@media (max-width: 990px) {
    .content_div {
        display: block;
    }

    .img {
        width: 100vw;
    }

    .img img{
        width: 69vw;
    }
}